---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.svelte';
import AboutContent from '../content/about.md';
---

<Layout>
	<Navigation client:load>
		<div slot="about" class="space-y-3 text-gray-700 dark:text-gray-300">
			<AboutContent />
		</div>
	</Navigation>
</Layout>
