---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.svelte';
import Work from '../components/Work.svelte';
import Education from '../components/Education.svelte';
import Projects from '../components/Projects.svelte';
import AboutContent from '../content/about.md';
import { works } from '../data/work';
import { education } from '../data/education';
import { projects } from '../data/projects';
---

<Layout>
  <Navigation client:load>
    <div slot="about" class="space-y-3 text-gray-700 dark:text-gray-300">
      <AboutContent />
    </div>
    <div slot="work">
      <Work client:load works={works} />
    </div>
    <div slot="studies">
      <Education client:load items={education} />
    </div>
    <div slot="projects">
      <Projects client:load items={projects} />
    </div>
  </Navigation>
</Layout>
